<p id="notice"><%= notice %></p>

<h1>Listing Chiens</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Race</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chiens.each do |chien| %>
      <tr>
        <td><%= chien.nom %></td>
        <td><%= chien.race %></td>
        <td><%= link_to 'Show', chien %></td>
        <td><%= link_to 'Edit', edit_chien_path(chien) %></td>
        <td><%= link_to 'Destroy', chien, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chien', new_chien_path %>
